<div class="footer">
  <div class="footer-header"></div>
  <div class="footer-body">
    <div class="footer-links">
      <%= link_to 'Home', root_path, class: "footer-link" %>
      <%= link_to 'Pages d\'Accueil', accueil_path, class: "footer-link" %>
      <%= link_to 'Animation', animation_path, class: "footer-link" %>
      <%= link_to 'About', about_path, class: "footer-link" %>
      <%= link_to 'Carousel', carousel_path, class: "footer-link" %>
      <%= link_to 'Cards', cards_path, class: "footer-link" %>
      <%= link_to 'Navbars', nav_path, class: "footer-link" %>
      <%= link_to 'Footers', pieddepage_path, class: "footer-link" %>
      <%= link_to 'Projects', projects_path, class: "footer-link" %>
      <%= link_to 'Forms', new_reservation_path, class: "footer-link" %>
      <%= link_to '404', p404_path , class: "footer-link"%>
      <%= link_to 'Icones', icones_path, class: "footer-link" %>
      <%= link_to 'Images', images_path, class: "footer-link" %>
      <%= link_to 'Resources', ressource_path, class: "footer-link" %>
      <%= link_to 'Matrix', matrix_path, class: "footer-link" %>
      <%= link_to 'Star Wars', starwars_path, class: "footer-link" %>
      <%= link_to 'Contact', contact_path, class: "footer-link" %>
    </div>
  </div>
  <div class="footer-footer text-center">
    <p>©ben7x7 2021</p>
  </div>
</div>
