<nav class="navbar-source">
  <div class="logo">
    <%= image_tag ('logo.png'), height: 40 %>
  </div>
  <ul class="nav-links">
    <li class="nav-item active">
      <%= link_to 'Formulaire', new_reservation_path  %>
    </li>
    <li class="nav-item">
      <%= link_to '404', p404_path  %>
    </li>
    <li class="nav-item">
      <%= link_to 'Starwars', starwars_path  %>
    </li>

    <li class="nav-item">
      <%= link_to 'Matrix', matrix_path  %>
    </li>

    <li class="nav-item">
      <%= link_to about_path do %>
        <%= t(".about", default: "About") %>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to projects_path do %>
        <%= t(".projects", default: "Projects") %>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to contact_path do %>
        <%= t(".contact", default: "Contact") %>
      <% end %>
    </li>
  </ul>
  <div class="burger">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
</nav>
