<div class="carousel">
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><%= image_tag 'nash-1.WebP' %></div>
      <div class="swiper-slide"><%= image_tag 'nash-2.WebP' %></div>
      <div class="swiper-slide"><%= image_tag 'nash-3.WebP' %></div>
      <div class="swiper-slide"><%= image_tag 'nash-4.WebP' %></div>
      <div class="swiper-slide"><%= image_tag 'nash-5.WebP' %></div>
      <div class="swiper-slide"><%= image_tag 'nash-6.WebP' %></div>
      <div class="swiper-slide"><%= image_tag 'nash-7.WebP' %></div>
      <div class="swiper-slide"><%= image_tag 'nash-8.WebP' %></div>
      <div class="swiper-slide"><%= image_tag 'nash-9.WebP' %></div>
      <div class="swiper-slide"><%= image_tag 'nash-10.WebP' %></div>
    </div>
  </div>
</div>
