<div class="carousel">
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><%= image_tag 'nash-1.WebP' %></div>
      <div class="swiper-slide"><%= image_tag 'nash-2.WebP' %></div>
      <div class="swiper-slide"><%= image_tag 'nash-3.WebP' %></div>
      <div class="swiper-slide"><%= image_tag 'nash-4.WebP' %></div>
      <div class="swiper-slide"><%= image_tag 'nash-5.WebP' %></div>
      <div class="swiper-slide"><%= image_tag 'nash-6.WebP' %></div>
      <div class="swiper-slide"><%= image_tag 'nash-7.WebP' %></div>
      <div class="swiper-slide"><%= image_tag 'nash-8.WebP' %></div>
      <div class="swiper-slide"><%= image_tag 'nash-9.WebP' %></div>
      <div class="swiper-slide"><%= image_tag 'nash-10.WebP' %></div>
    </div>
  </div>
</div>

<div class="mycarousel">
  <div class="box">
    <span style="--i:1;"><%= image_tag 'img1.WebP' %> </span>
    <span style="--i:2;"><%= image_tag 'img2.WebP' %> </span>
    <span style="--i:3;"><%= image_tag 'img3.WebP' %> </span>
    <span style="--i:4;"><%= image_tag 'img4.WebP' %> </span>
    <span style="--i:5;"><%= image_tag 'img5.WebP' %> </span>
    <span style="--i:6;"><%= image_tag 'img6.WebP' %> </span>
    <span style="--i:7;"><%= image_tag 'img7.WebP' %> </span>
    <span style="--i:8;"><%= image_tag 'img8.WebP' %> </span>
    <span style="--i:9;"><%= image_tag 'img9.WebP' %> </span>
    <span style="--i:10;"><%= image_tag 'img10.WebP' %> </span>
    <span style="--i:11;"><%= image_tag 'img11.WebP' %> </span>
    <span style="--i:12;"><%= image_tag 'img12.WebP' %> </span>
  </div>
</div>
