<nav class="navbar my-navbar navbar-expand-lg">
  <div class="navbar-brand">
    <%= link_to root_path, class:"navbar-brand" do %>
      <%= image_tag 'logo.png', id:"nav-logo" %>
      <span id="brand">LES SERVICES DE BENOÎT</span>
    <% end %>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <%= link_to 'SERVICES', root_path,  class: "nav-link" %>
      <%= link_to 'A PROPOS', root_path,  class: "nav-link" %>
      <%= link_to 'CONTACT', root_path,  class: "nav-link" %>
    </div>
  </div>
</nav>

<section class="transition">
  <hr>
</section>
