<p>NOUVELLE RESERVATION:</p>
<br>
<p>Nom: <%= @reservation.name %></p>
<p>Phone: </p>
<p>Email: <%= @reservation.mail %></p>
<p>Pax: <%= @reservation.pax %></p>
<p>Date: <%= @reservation.date %></p>
<p>Heure: <%= @reservation.time %></p>
<br>
<br>
<br>
<p>Bonjour <%= @reservation.name %></p>

<p>J'ai le plaisir de confirmer votre réservation :</p>

<p>Une table pour <%= @reservation.pax %> personnes, le <%= @reservation.date %> à <%= @reservation.time %></p>


<p>Dans l'attente de vous accueillir à La Table des Artisans, je vous souhaite une excellente journée.</p>

<p>Cordialement</p>
<br>
<p>L'équipe de La Table des Artisans</p>



